/*  ==============================================================  About use Page ====*/
/*  ==============================================================  About use Page ====*/
/*  ==============================================================  About use Page ====*/

.about_sec {
    position: relative;
    width: 100%;
    height: auto;
}

.about_top {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    /* margin-top: 5rem; */
    background: url('/img/abouttop.jpg') no-repeat right center/cover;
    background-position: top right !important;
    background-size: 38% auto !important;
}

.about_top_cont {
    max-width: 90%;
    margin: auto;
    display: flex;
    padding: 10rem 0;
    align-items: center;
    justify-content: space-evenly;
}

.about_left {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about_left h1 {
    position: relative;
    font-family: math;
    font-weight: 600;
    line-height: 1.2em;
    font-size: 40px;
}

.about_left h1 span {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #4a8ee2b9 25%, green 55%);
    background-clip: text;
    color: transparent;
}

.about_left h3 {
    font-size: 20px;
    font-family: math;
    margin-top: 2rem;
    font-weight: 500;
    color: #444;
}

.about_cont {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abc_right {
    margin-left: 3rem;
}

.abc_img {
    width: 50%;
    position: relative;
}

.abc_img img {
    width: 85%;
    border-radius: 30px;
}

.abc_img::before {
    width: 40% !important;
    content: ' ' !important;
    position: absolute !important;
    background: #68db877a !important;
    height: 60% !important;
    bottom: -100px !important;
    right: 5px !important;
    z-index: -1 !important;
    transition: all .3s ease !important;
    display: block !important;
    border-radius: 20px !important;
}

.about_right img {
    border-radius: 20px;
}

.line {
    width: 100px;
    height: 4px;
    background-color: #FBC21D;
}

.about_center {
    position: relative;
    margin: 5rem 0;
}

.abc_right {
    width: 50%;
}

.abc_right h1 {
    font-size: 35px;
    font-family: math;
    padding-bottom: 2rem;
}

.abc_right h3 {
    font-size: 25px;
    font-family: math;
    padding-bottom: 2rem;
    color: #555;
}

.abc_right p {
    font-size: 16px;
    font-family: math;
    padding-top: 2rem;
    color: #555;
    text-align: justify;
}

.whychoose_sec {
    margin: 15rem 0;
    margin-bottom: 0;
    background-color: #d9fcd986;
    padding: 8rem 10px;
}

.why_cont {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_why {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 3rem;
}

.left_why h1 {
    margin-bottom: 2rem;
    font-size: 80px;
    font-family: math;
}

.left_why h1 span {
    background: linear-gradient(250deg, #4a8ee2b9 35%, green 55%);
    background-clip: text;
    color: transparent;
}

.left_why h2 {
    font-size: 30px;
    font-family: math;
    color: #666;
    margin-bottom: 4rem;
}

.left_why h3 {
    margin-bottom: 1rem;
    font-size: 22px;
    font-family: math;
    color: #555;
}

.right_why {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

}

.right_card {
    background-color: #fff;
    width: 320px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
}

.right_card img {
    width: 40px;
    margin-bottom: 1rem;
}

.right_card h2 {
    font-size: 25px;
    font-family: math;
}

.right_card h4 {
    font-size: 20px;
    font-family: math;
    line-height: 2rem;
    font-weight: 500;
}

.company_tc {
    display: flex;
    align-items: flex-start;
}

.company_table {
    position: relative;
    width: 100%;
    padding: 3rem 5rem;
}

.company_table h1 {
    font-size: 35px;
    font-family: math;
    margin-bottom: 3rem;
}

.formTable {
    width: 50%;
    backdrop-filter: blur(10px);
    /* background-color: #ffffffb5; */
}

.formTable tbody tr td {
    padding: 15px;
    font-family: math;
    font-size: 25px;
}

.formTable tbody tr td:nth-child(1) {
    /* background-color: #99999983; */
    border-right: 1px solid #000;
    background-color: #99999922;
    font-weight: 600;
}

.formTable tbody tr td:nth-child(2) {
    color: #000;
    font-weight: 500;
}

.com_de {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.com_de h4 {
    font-size: 22px;
    font-family: math;
    color: #666;
    margin-top: 1rem;
}

.com_de h3 {
    font-size: 28px;
    font-family: math;
    color: #333;
}

.com_de ul {
    padding-left: 3rem;
}

.com_de ul li {
    list-style: outside;
    padding: 0.3rem 0;
    font-size: 22px;
    font-family: math;
}



@media screen and (max-width: 1500px) {
    .why_cont {
        width: 100%;
        padding: 0 5rem;
        gap: 2rem;
    }

    .right_why {
        width: 55%;
    }
}

@media screen and (max-width: 1375px) {
    .right_why {
        width: 72%;
    }
}

@media screen and (max-width: 1240px) {
    .right_why {
        width: 80%;
    }
}

@media screen and (max-width: 1222px) {
    .why_cont {
        flex-direction: column;
    }

    .right_why {
        width: 100%;
    }

    .left_why {
        width: 100%;
        margin-bottom: 2rem;
    }
}





/* about page responsive */

@media screen and (max-width: 500px) {
    .about_top_cont {
        flex-direction: column-reverse;
    }

    .about_top {
        background-position: top right !important;
        background-size: 70% auto !important;
    }

    .about_top_cont {
        padding-bottom: 3rem;
    }

    .about_right {
        width: 90%;
        height: 300px;
        margin: auto;
        padding: 0;
        overflow: hidden;
    }

    .about_right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about_left {
        width: 100%;
        margin-top: 2rem;
    }

    .about_left h1 {
        font-size: 28px;
    }

    .about_cont {
        flex-direction: column;
    }

    .abc_img {
        width: 100%;
    }

    .abc_right {
        width: 100%;
        margin: 0;
        margin-top: 3.5rem;
    }

    .abc_right h3 {
        padding-bottom: 1rem;
    }

    .abc_right h1 {
        font-size: 30px;
        text-align: justify;
        margin-top: 1rem;
    }

    .whychoose_sec {
        padding: 3rem 20px;
        margin: 5rem 0;
    }

    .why_cont {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .left_why {
        width: 100%;
        padding: 0;
    }

    .left_why h3 {
        font-size: 18px
    }

    .left_why h1 {
        font-size: 48px;
    }

    .left_why h2 {
        font-size: 22px;
    }

    .left_why img {
        display: none;
    }

    .right_why {
        width: 100%;
        justify-content: center;
    }

    .right_card {
        width: 100%;
        padding: 2rem;
    }

    .company_table {
        padding: 1rem;
    }

    .company_tc {
        flex-direction: column;
    }

    .formTable {
        width: 100%;
    }

    .com_de {
        width: 100%;
        margin: 0;
        margin-top: 3rem;
    }

    .com_de h3 {
        font-size: 22px;
        text-align: justify;
    }

    .formTable tbody tr td {
        font-size: 18px;
    }
}