@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Righteous&family=Signika+Negative:wght@600&family=Trade+Winds&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #56ae59;
  border-radius: 10px;
}

/* flex class */
.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-right {
  align-items: right !important;
  justify-content: right;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 1.5rem !important;
}

.gap-3 {
  gap: 3rem !important;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.p-relative {
  position: relative;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-45 {
  margin-top: 4.5rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center;
}

.w-16 {
  width: 16.66666667%;
}

.d-block {
  display: block;
}

body {
  overflow-x: hidden;
  background-color: #f3f5fe94;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}



nav {
  position: relative;
  width: 100%;
  height: auto;
  background: url('/img/headerbg.jpg') no-repeat center center/cover;
  z-index: 9;
}

/* header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: -1;
} */

.top_headernav {
  width: 100%;
  height: 33px;
  background-color: rgb(194, 241, 207);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  padding: 0 5rem;
  z-index: 999;
}

.lefttopbar {
  display: flex;
  gap: 1rem;
}

.lefttopbar h4 {
  font-size: 14px;
  font-family: math;
  font-weight: 500;
}

.lefttopbar h4:nth-child(2) {
  font-weight: 600;
  color: #555;
}

.righttopbar {
  display: flex;
  gap: 1rem;
}

.righttopbar h4 {
  font-size: 14px;
  font-family: math;
  font-weight: 500;
}

.righttopbar i {
  color: #555;
  margin-right: 5px;
}

.center_headernav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 3rem 5rem;
  gap: 1.8rem;
}

.center_headernav a {
  color: #7A7A7A;
  font-weight: 500;
  font-family: math;
}

.main_nav {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 8px;
  font-family: math;
  box-shadow: 0 10px 50px #d8e1e9;
  transition: 0.3s ease-in;
  z-index: 9;
}

.main_nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  padding: 0 5rem;
  transition: 0.3s ease-in-out;
}

.logo {
  gap: 2rem;
}

.logo img {
  width: 120px;
  padding: 10px;
  /* filter: drop-shadow(8px 5px 5px #999); */
}

.hamburger svg:nth-child(2) {
  display: none;
}

.hamburger h4 {
  font-size: 15px;
  font-family: math;
  color: #888;
}

.hamburger h4 span {
  color: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hamburger svg {
  width: 40px;
  font-size: 25px;
  cursor: pointer;
}

.nav_items {
  display: flex;
  align-items: center;
}

.nav_items li {
  padding: 1.2rem 0;
  cursor: pointer;
}

.nav_items li a {
  padding: 1.2rem 2rem;
  cursor: pointer;
}

.nav_items li a:hover {
  background-color: #11e4183d;
  color: blue;
  border-radius: 8px;
}

.nav_items li a.active {
  background-color: #11e4183d;
  border-radius: 8px;
}

/* responsive navitems */

.rnav_items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 0;
}

.rnav_items li {
  padding: 1rem 0;
}

.rnav_items li a {
  font-family: math;
}

.rnav_items li a.active {
  position: relative;
  color: #20b525;
  font-weight: 600;
  margin-left: 15px;
}

.rnav_items li a.active::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 40%;
  transform: translateX(-50%);
  width: 15px;
  height: 3px;
  background-color: #20b525;
  border-radius: 50%;
}

.main_nav i {
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px #888;
}

.main_nav i:hover {
  transform: scale(0.9);
}


.asideright {
  display: block;
  width: 320px;
  height: 100vh;
  position: fixed;
  right: -320px;
  top: 0;
  background-color: rgb(235, 231, 231);
  padding: 30px;
  transition: 0.3s ease-in-out;
  z-index: 99;
}

.navright {
  display: block;
  width: 320px;
  height: 100vh;
  position: fixed;
  right: -320px;
  top: 0;
  background-color: rgb(235, 231, 231);
  padding: 30px;
  transition: 0.3s ease-in-out;
  z-index: 99;
}

.asideright.open {
  right: 0;
}

.navright.open {
  right: 0;
}

.asidetop {
  border-bottom: 2px solid black;
  padding-bottom: 2rem;
}

.asidecenter {
  font-family: math;
}

.asidecenter h4 {
  margin: 25px 0;
  font-size: 19px;
}

.asidecenter hr {
  margin: 28px 0 0 0;
  border: 1px solid;
  opacity: 1;
  color: #000000;
}

.asidecenter .btn_hover1 {
  padding: 15px 40px;
  outline: none;
  font-size: 16px;
}

.asidecenter ul {
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.asidecenter ul li {
  display: flex;
  gap: 20px;
}

.asidecenter ul a {
  padding: 0 !important;
  color: #231f20;
}

.asidecenter i {
  font-size: 20px;
  background: linear-gradient(0deg, #5dcf55 0.5%, #39383e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.asidecenter i:hover {
  background: linear-gradient(0deg, #4f9955 0.5%, #f54a48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.asidecenter span {
  gap: 20px;
  margin-top: 30px;
}

.asideright img {
  width: 100px;
}

.navright img {
  width: 100px;
}

.fa_xmark {
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 15px #888;
}

.asideright p {
  padding: 2rem 0;
  font-family: math;
  color: #777;
}

.rainbow-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}

/* topheaderdata */
.topheaderdata {
  width: 100%;
  padding: 3rem 6rem;
  padding-top: 5rem;
  display: flex;
  align-items: center;

}

.leftheaderdata {
  width: 50%;
}

.leftheaderdata h1 {
  font-size: 50px;
  letter-spacing: -1.5px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
  color: #444762;
  animation: fadeup 2s ease-out;
}

.leftheaderdata h1:nth-child(2) {
  background: linear-gradient(270deg, #1b4e9b 25%, green 55%);
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: fadeup 3.2s ease-out;
}

.leftheaderdata h2 {
  margin-top: 1rem;
  width: 80%;
  line-height: 1.4em;
  font-size: 18px;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #444762;
  font-weight: 500;
  margin-bottom: 2rem;
  animation: fadeup 4s ease-out;
}

.hbtn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  animation: fadeup 4s ease-out;
}

@keyframes fadeup {
  0% {
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0);
  }
}

.hbtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.hbtn span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.hbtn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.hbtn:hover:before {
  width: 100%;
  background: #b1dae7;
}

.hbtn:hover svg {
  transform: translateX(0);
}

.hbtn:active {
  transform: scale(0.95);
}


.rightheaderdata {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3JtNDQxLWUwNC1tb2NrdXAuanBn.jpg') no-repeat center center/cover; */
}

.rightheaderdata img {
  width: 50%;
  filter: drop-shadow(10px 18px 14px #888);
  animation: updown 3s infinite forwards;
}

@keyframes updown {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}



.marq {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 35px;
  background-color: #36597d;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}

.marq span {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: -200%;
  }
}



.ourfounders {
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  padding: 5rem 5rem;
}

.oftitle {
  position: relative;
  font-family: math;
  font-size: 20px;
  margin-left: 4%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.oftitle hr {
  opacity: 1.25;
  height: 1px;
  color: #20b525;
  width: 60px;
  border: 1px solid;
}

.founderscards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.ofounder {
  width: 28%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: 1px solid #c4c4c4;
  padding: 25px 20px;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, #868a8f73 25%, #969e9869 55%);
  transition: 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0 5px 25px #dfdfdf;
}

.ofounder:nth-child(2) {
  width: 22%;
  height: 420px;
}

.ofounder img {
  width: 110px;
  object-fit: cover;
}

.ofounder h2 {
  font-weight: 600;
  font-family: math;
}

.ofounder p {
  font-weight: 500;
  font-family: math;
  color: #444;
  line-height: 1.5rem;
}

.ofounder:hover {
  transform: scale(1.1);
}

/* welcometitle */

.welcometitle {
  width: 100%;
  padding: 5rem 5rem;
  text-align: center;
  background-color: #dddedeb4;
}

.welcometitle h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  display: inline-block;
  margin-bottom: 3rem;
  background: linear-gradient(90deg, #4a8ee2b9 25%, #26bd4caa 55%);
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid #20b525;
}

.welcometitle p {
  font-size: 20px;
  margin-bottom: 3rem;
  line-height: 2rem;
  padding: 0 3rem;
}

/* demoimg */

.demoimg {
  width: 100%;
  margin-top: -280px;
}

.demoimg img {
  width: 100%;
}





/* scrollupdown */

.scrollToTop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #94c992;
  border-radius: 50%;
  box-shadow: 0 5px 10px #63aa90;
  border: none;
  cursor: pointer;
}

.scrollToTop:hover {
  background-color: #234567;
  color: #fff;
}

.scrollToTop.show {
  opacity: 1;
}

.scrollToTop.hide {
  opacity: 0;
}




/* cards */


.comcontainer {
  position: relative;
  width: 100% !important;
  margin-right: auto;
  margin-left: auto;
  background: url('/img/back_company.jpg') no-repeat center center/cover;
  padding: 2rem 0;
  background-attachment: fixed;
  font-family: math;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.comcontainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index: -1;
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .comcontainer {
    max-width: 1279px !important;
    /* padding: 2rem 0 !important; */
    margin: 0 80px !important;
    width: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .comcontainer {
    max-width: 959px !important;
    margin: 0 16px !important;
    /* padding: 0 !important; */
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 3rem;
  font-size: 40px;
  color: #000;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 60px;
}

.comcard {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  backdrop-filter: blur(10px);
  background: #ffffff5a;
  border: 1px solid #b5b5b56a;
  border-radius: 45px;
  padding: 40px;

  img {
    margin-bottom: 32px;
  }
}

.card-title {
  font-weight: 600;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}


.card-description {
  font-weight: 500;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.791);
  font-size: 25px;
  max-width: 470px;
}

/* company_details */

.company_details {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem 5rem;
  overflow: hidden;
}

.company_data {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 9rem;
  gap: 8rem;
}

.com_left {
  width: 50%;
}

.com_left h1 {
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}

.com_left p {
  font-size: 20px;
  height: 300px;
  overflow: hidden;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 3rem;
}

.com_left a {
  padding: 20px 30px;
  background-color: #20b525;
  border-radius: 10px;
  color: #fff;
}

.com_right {
  width: 50%;
}

.com_right h1 {
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}

.com_right .crimgbox {
  min-width: 280px;
  max-width: 280px;
  height: 390px;
  border: 1px solid #cdcecd;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.crimgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease-in-out;
}

.crimgbox img:hover {
  transform: scale(1.3);
  transition: 0.8s ease-in-out;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fullscreen-image {
  min-width: 30%;
  max-width: 90%;
  max-height: 90%;
}

/* whatsappnoti */

.whatsappnoti {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 1%;
  background-color: #61c965;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
  animation: blinkW 1s infinite;
}

@keyframes blinkW {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.whatsappnoti svg {
  font-size: 30px;
  color: #fff;
  filter: drop-shadow(0 0 10px #000);
}

.whatsappnoti:hover {
  background-color: #20b525;
  animation: blinkoff 0s;
}

@keyframes blinkoff {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.footer_contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  margin-bottom: 0;
  padding: 3rem 8rem;
  background-color: #d5d5d5;
  background: url('/img/contact-info-bg-3.jpg') no-repeat center center/cover;
}

.f_c {
  display: flex;
  align-items: center;
  color: #fff;
}

.f_c img {
  width: 60px;
  margin-right: 20px;
}

.googlemap {
  position: relative;
}

.googlemap img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

/* ======================================================= footer */

.footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #e4e5e4;
}

.footer_sec {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: 10rem;
}

.footer_info {
  position: relative;
  width: 50%;
  padding: 3rem 0;
}

.f_logo_info {
  position: absolute;
  right: 0;
}

.f_logo_info img {
  width: 120px;
  margin-bottom: 2rem;
}

.f_logo_info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.f_logo_info ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: math;
}

.f_logo_info h4 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: math;
  font-size: 18px;
  border-bottom: 1px solid #888;
  padding-bottom: 10px;
}

.f_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.f_icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #888;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.f_icon a svg {
  font-size: 18px;
}

.f_icon:hover {
  background-color: #76d879;
  color: #fff;
}



/*  ==============================================================  Footer Form ====*/
/*  ==============================================================  Footer Form ====*/
/*  ==============================================================  Footer Form ====*/


.contact_form {
  width: 50%;
  position: relative;
  box-shadow: -10px 5px 10px #959595;
  padding: 3rem 2rem;
  background-color: #5d9eff37;
}

.contact_form h2 {
  font-size: 35px;
  font-family: math;
  margin-bottom: 3rem;
}

.contact_form h2 span {
  color: green;
}

.contact_f {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.cn_in textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #999;
  margin-top: 0.5rem;
  background-color: #f1f1f1;
}

.cn_in label {
  font-family: math;
}

.contact_f button {
  padding: 15px 25px;
  background-color: #1b4e9b;
  color: #fff;
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  box-shadow: 0 3px 8px #333;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact_f button:hover {
  background-color: rgba(0, 128, 0, 0.648);
}

.input-container {
  position: relative;
  margin: 20px 0;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-family: math;
}

.input-container .input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
  width: 200px;
  outline: none;
}

.input-container .input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
  width: 200px;
  outline: none;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  transition: width 0.3s;
}

.input-container .input[type="text"]:focus+.underline {
  width: 100%;
}

.input-container .input[type="email"]:focus+.underline {
  width: 100%;
}

@keyframes floating-label {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}

.input-container .input[type="text"]:placeholder-shown+label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #777;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.input-container .input[type="text"]:focus:not(:placeholder-shown)+label {
  transform: translateY(-25px);
  font-size: 12px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  animation: floating-label 0.3s forwards;
}


/*  ==============================================================  About use Page ====*/
/*  ==============================================================  About use Page ====*/
/*  ==============================================================  About use Page ====*/

.about_sec {
  position: relative;
  width: 100%;
  height: auto;
}

.about_top {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  /* margin-top: 5rem; */
  background: url('/img/abouttop.jpg') no-repeat right center/cover;
  background-position: top right !important;
  background-size: 38% auto !important;
}

.about_top_cont {
  max-width: 90%;
  margin: auto;
  display: flex;
  padding: 10rem 0;
  align-items: center;
  justify-content: space-evenly;
}

.about_left {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_left h1 {
  position: relative;
  font-family: math;
  font-weight: 600;
  line-height: 1.2em;
  font-size: 40px;
}

.about_left h1 span {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #4a8ee2b9 25%, green 55%);
  background-clip: text;
  color: transparent;
}

.about_left h3 {
  font-size: 20px;
  font-family: math;
  margin-top: 2rem;
  font-weight: 500;
  color: #444;
}

.about_cont {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abc_right {
  margin-left: 3rem;
}

.abc_img {
  width: 50%;
  position: relative;
}

.abc_img img {
  width: 85%;
  border-radius: 30px;
}

.abc_img::before {
  width: 40% !important;
  content: ' ' !important;
  position: absolute !important;
  background: #68db877a !important;
  height: 60% !important;
  bottom: -100px !important;
  right: 5px !important;
  z-index: -1 !important;
  transition: all .3s ease !important;
  display: block !important;
  border-radius: 20px !important;
}

.about_right img {
  border-radius: 20px;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #FBC21D;
}

.about_center {
  position: relative;
  margin: 5rem 0;
}

.abc_right {
  width: 50%;
}

.abc_right h1 {
  font-size: 35px;
  font-family: math;
  padding-bottom: 2rem;
}

.abc_right h3 {
  font-size: 25px;
  font-family: math;
  padding-bottom: 2rem;
  color: #555;
}

.abc_right p {
  font-size: 16px;
  font-family: math;
  padding-top: 2rem;
  color: #555;
  text-align: justify;
}

.whychoose_sec {
  margin: 15rem 0;
  margin-bottom: 0;
  background-color: #d9fcd986;
  padding: 8rem 10px;
}

.why_cont {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_why {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 3rem;
}

.left_why h1 {
  margin-bottom: 2rem;
  font-size: 80px;
  font-family: math;
}

.left_why h1 span {
  background: linear-gradient(250deg, #4a8ee2b9 35%, green 55%);
  background-clip: text;
  color: transparent;
}

.left_why h2 {
  font-size: 30px;
  font-family: math;
  color: #666;
  margin-bottom: 4rem;
}

.left_why h3 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-family: math;
  color: #555;
}

.right_why {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

}

.right_card {
  background-color: #fff;
  width: 320px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
}

.right_card img {
  width: 40px;
  margin-bottom: 1rem;
}

.right_card h2 {
  font-size: 25px;
  font-family: math;
}

.right_card h4 {
  font-size: 20px;
  font-family: math;
  line-height: 2rem;
  font-weight: 500;
}

.company_tc {
  display: flex;
  align-items: flex-start;
}

.company_table {
  position: relative;
  width: 100%;
  padding: 3rem 5rem;
}

.company_table h1 {
  font-size: 35px;
  font-family: math;
  margin-bottom: 3rem;
}

.formTable {
  width: 50%;
  backdrop-filter: blur(10px);
  /* background-color: #ffffffb5; */
}

.formTable tbody tr td {
  padding: 15px;
  font-family: math;
  font-size: 25px;
}

.formTable tbody tr td:nth-child(1) {
  /* background-color: #99999983; */
  border-right: 1px solid #000;
  background-color: #99999922;
  font-weight: 600;
}

.formTable tbody tr td:nth-child(2) {
  color: #000;
  font-weight: 500;
}

.com_de {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.com_de h4 {
  font-size: 22px;
  font-family: math;
  color: #666;
  margin-top: 1rem;
}

.com_de h3 {
  font-size: 28px;
  font-family: math;
  color: #333;
}

.com_de ul {
  padding-left: 3rem;
}

.com_de ul li {
  list-style: outside;
  padding: 0.3rem 0;
  font-family: math;
}

.emailsubmitsec {
  width: 100%;
  position: relative;
}

.emailclickbtn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: #000000;
  padding: 15px;
  font-size: 22px;
  color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


.enquiryform {
  background-color: #0000005d;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.form_e {
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  width: 550px;
}

.form_e p {
  font-size: 25px;
  font-family: math;
}

.form_e .flex-sb {
  margin-bottom: 1rem;
}

.form_e svg {
  cursor: pointer;
  font-size: 25px;
  color: #555;
}

.form_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px;
}

.form_info input {
  padding: 15px;
  width: 47%;
  font-size: 18px;
  outline-color: #1b4e9b;
}

.form_info textarea {
  padding: 15px;
  width: 100%;
  font-size: 20px;
  outline-color: #1b4e9b;
}

.form_info button {
  width: 100%;
  padding: 10px;
  background-color: #7b94bb;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.form_info button:hover {
  background-color: #1b4e9b;
}

/*  ==============================================================  responsive Navbar ====*/
/*  ==============================================================  responsive Navbar ====*/
/*  ==============================================================  responsive Navbar ====*/

@media screen and (max-width: 1250px) {
  .nav_items {
    display: none;
  }

  .hamburger svg:nth-child(2) {
    display: block;
  }

  .hamburger svg:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .top_headernav {
    height: auto;
    padding: 0.5rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .lefttopbar {
    width: 100%;
    justify-content: space-between;
  }

  .righttopbar {
    display: none;
  }

  .main_nav {
    position: relative;
    top: 10px;
    left: 0;
    transform: none;
  }

  .main_nav.sticky {
    padding: 0 1rem;
  }

  .center_headernav {
    display: none;
  }

  .topheaderdata {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
  }

  .leftheaderdata h1 {
    font-size: 35px;
  }

  .leftheaderdata h1:nth-child(2) {
    background: linear-gradient(270deg, #1b4e9b 25%, green 55%);
    background-clip: text;
  }

  .leftheaderdata h2 {
    font-size: 20px;
  }

  .hbtn:before {
    width: 100%;
  }

  .hbtn span {
    color: rgb(0, 131, 253);
  }

  .leftheaderdata {
    width: 100%;
  }

  .rightheaderdata {
    width: 100%;
    margin: 3rem 0;
  }

  .company_details {
    padding: 3rem 1rem;
  }

  .company_data {
    flex-direction: column;
  }

  .company_data {
    width: 100%;
    padding: 0;
  }

  .com_left {
    width: 100%;
  }

  .com_left p {
    height: 250px;
    overflow: hidden;
    text-align: justify;
  }

  .com_right {
    width: 100%;
  }

  .com_right .flex-center {
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .ourfounders {
    padding: 2rem 1rem;
  }

  .founderscards {
    flex-direction: column;
    gap: 2rem;
  }

  .ofounder {
    width: 100%;
  }

  .ofounder:nth-child(2) {
    width: 100%;
  }

  .welcometitle {
    padding: 2rem 1rem;
  }

  .welcometitle p {
    font-size: 15px;
    padding: 0;
    padding-bottom: 11rem;
  }

  .whatsappnoti {
    right: 5%;
    bottom: 13%;
  }

  .fullscreen-image {
    min-width: 90%;
  }

  .footer_contact {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
  }

  .f_c {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: math;
  }

  .f_c div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer_sec {
    flex-direction: column;
    gap: 1rem;
  }

  .f_logo_info {
    position: relative;

  }

  .f_icons {
    justify-content: space-evenly;
  }

  .footer_info {
    width: 100%;
    padding: 3rem 2rem;
  }
  .scrollToTop{
    bottom: 7%;
  }
  .contact_form {
    width: 100%;
    padding: 3rem 2rem;
  }
  .emailclickbtn{
    width: 100%;
    justify-content: center;
    bottom: 0;
    border-radius: 0;
  }
  .form_e{
    width: 375px;
  }
  .form_e input{
    width: 100%;
    padding: 10px;
  }
  .form_e textarea{
    width: 100%;
    padding: 10px;
  }
  .enquiryform{
    padding: 10px;
  }
}

@media screen and (max-width: 440px) {
  .hamburger h4 {
    font-size: 12px;
  }

  .hamburger {
    gap: 0.5rem !important;
  }

  .main_nav {
    padding: 0;
  }
}