.userguidesec {
    position: relative;
    background-color: #eeeeee;
}

.steptitle {
    width: 100%;
    position: relative;
    background-color: #0080003b;
    height: 38vh;
}

.top_bg {
    width: 100%;
    position: absolute;
    bottom: -20px;
}

.steptitle h1 {
    text-align: center;
    position: relative;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5rem 5rem;
    background-image: linear-gradient(43deg, #0629da 0%, #5088c8 46%, #3e9825 100%);
    background-clip: text;
    color: transparent;
}


.sefety_sec {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    border: 2px solid #000;
    padding: 2rem;
    overflow: hidden;
    gap: 1rem;
    background-color: #eeeeee;
    box-shadow: -0.5rem 0.5rem 0 0 #333;
}

.sefety_sec img {
    width: 200px;
}

.sefety_sec h2 {
    font-weight: 600;
    font-size: 30px;
    font-family: monospace;
}

.userguide_cards {
    position: relative;
    width: 100%;
    margin: auto;
}

.guide_max {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 30vh;
    background-color: #5088c8;
}

.guide_cards_sec {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.guide_cards {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
    padding: 20px;
    padding-bottom: 3rem;
    box-shadow: 0 5px 10px #999;
    border-radius: 10px;
    margin: 3rem 0;
    background-color: #fff;
}

.guide_img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.guide_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.info_guide {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.info_guide h1 {
    font-family: math;
    font-weight: 600;
    font-size: 35px;
}

.info_guide h4 {
    font-family: math;
    font-weight: 600;
    font-size: 25px;
    color: rgb(70, 107, 34);
}

.info_guide h2 {
    font-family: math;
    font-weight: 600;
    font-size: 22px;
    color: #777;
    text-align: center;
}

.main_descrip {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
    margin: 5rem;
    padding-bottom: 3rem;
}

.main_descrip h2 {
    width: 50%;
    font-size: 30px;
    font-family: math;
    line-height: 3rem;
    color: #444;
}

.main_descrip h2 strong {
    font-size: 35px;
    color: brown;
    font-weight: 600;
}

.typeofeco {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8rem;
    margin: 3rem 5rem;
}

.typeofeco table {
    font-family: math;
    border: 1px solid #999;
}

.typeofeco table td {
    padding: 10px;
    border: 1px solid #999;
    font-size: 35px;
}

.typeofeco table thead td {
    font-size: 40px;
    font-weight: 600;
}

.typeofeco h3 {
    position: relative;
    font-size: 50px;
    font-family: monospace;
    background-color: #99999950;
    padding: 30px;
    border-radius: 20px;
}

.holediameter {
    position: relative;
    margin: 3rem 0;
    padding: 0 5rem;
    width: 100%;
    overflow: hidden;
}

.holediameter h3 {
    margin-bottom: 1rem;
    font-family: math;
}

.holediameter table {
    overflow: hidden;
    width: 100%;
    font-family: math;
    border: 1px solid #999;
}

.holediameter table td {
    padding: 10px;
    border: 1px solid #999;
    font-size: 35px;
}

.holediameter table thead td {
    font-size: 40px;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .steptitle h1 {
        font-size: 31px;
    }

    .steptitle {
        height: 27vh;
    }

    .sefety_sec {
        width: 90%;
        flex-direction: column;
    }

    .sefety_sec img {
        width: 100px;
    }

    .sefety_sec h2 {
        font-size: 25px;
        text-align: center;
    }

    .guide_cards_sec {
        flex-direction: column;
        padding: 0 1rem;
    }

    .guide_cards {
        width: 100%;
        margin: 1rem 0;
    }

    .main_descrip {
        flex-direction: column;
        width: 100%;
        margin: 2rem 0;
        padding: 0 1rem;
    }

    .main_descrip h2 {
        width: 100%;
        font-size: 22px;
        text-align: justify;
        line-height: 2rem;
    }
    .typeofeco{
        gap: 0;
        margin: 2rem 0;
        flex-direction: column-reverse;
    }
    .typeofeco img{
        transform: rotate(270deg);
        width: 80px;
    }
    .typeofeco h3{
        font-size: 23px;
        margin-bottom: 2rem;
    }
    .typeofeco table thead td{
        font-size: 20px;
    }
    .typeofeco table tbody td{
        font-size: 20px;
    }
    .holediameter{
        padding: 0 1rem;
    }
    .holediameter table tbody td{
        font-size: 20px;
    }
}